/* MAIN CONTAINER */
.about-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* TITLE */
.about-header {
  text-align: center;
  margin-top: 60px;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #d3a3a3;
  letter-spacing: 3px;
}

/* STORY SECTION */
.about-story {
  margin-bottom: 60px;
}

.about-story h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #d3a3a3;
}

.about-story p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #a98282;
}

.story-image {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  transition: 0.4s ease;
}

.story-image:hover {
  transform: scale(1.02);
}

/* MISSION SECTION */
.about-mission {
  background: #fafafa;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.07);
  margin-bottom: 60px;
}

.about-mission h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #d3a3a3;
}

.about-mission p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #a98282;
}

/* TEAM SECTION */
.about-team {
  margin-bottom: 60px;
  text-align: center;
  color: #a98282;
}

.about-team h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
   color: #d3a3a3;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.team-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  text-align: center;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  border: 3px solid #d0d0d0;
}

/* GALLERY SECTION */
.about-gallery {
  margin-bottom: 40px;
}

.about-gallery h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #d3a3a3;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-header {
    font-size: 32px;
  }

  .team-img {
    width: 90px;
    height: 90px;
  }

  .gallery-grid img {
    height: 180px;
  }
}