/* خلفية ناعمة */
.contact-wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #fafafa, #eaeaea);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  20px;
}

/* البطاقة */
.contact-card {
  background: #fff;
  width: 100%;
  max-width: 420px;
  padding: 20px 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
  margin: 0 auto;
  animation: fadeIn 0.4s ease-in-out;
}

/* عنوان رئيسي */
.contact-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 300px;
  color: #d3a3a3;
  letter-spacing: 1px;
}

/* الفورم */
.contact-form label {
  display: block;
  font-size: 15px;
  margin-bottom: 6px;
  color: #d3a3a3;
  font-weight: 500;
}

.contact-form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  margin-bottom: 18px;
  background: #fafafa;
  transition: 0.2s;
  font-size: 15px;
}

.contact-form input:focus {
 color: #d3a3a3;
  background: #fff;
  outline: none;
}

/* عنوان العناصر */
.items-title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #d3a3a3;
}

/* عناصر فارغة */
.no-items {
  color: #777;
  font-size: 15px;
}

/* لائحة العناصر */
.items-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
}

/* المجموع */
.total-line {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #ccc;
}

/* زر الإرسال */
.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
 color: #d3a3a3;
color: #d3a3a3;
  border: none;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}

.submit-btn:hover {
 color: #d3a3a3;
  transform: translateY(-2px);
}

/* حركة دخول */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}