/* NAVBAR CONTAINER */
.pro-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 60px;
  background: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 12px rgba(0,0,0,0.4);
}

/* LOGO */
.logo {
  font-size: 30px;
  font-weight: 700;
  color:  #d3a3a3;
  letter-spacing: 1px;
}

/* NAV LINKS CONTAINER */
.nav-links {
  display: flex;
  gap: 18px;
}

/* EACH BOX */
.nav-box {
  text-decoration: none;
  padding: 10px 18px;
  background-color: #d3a3a3;
  border-radius: 10px;
  color: #e2e2e2;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

/* HOVER EFFECT */
.nav-box:hover {
  background-color: #f1e0cf;
  color: #f8eeee;
  border-color: #b6aea5;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(215, 143, 71, 0.4);
}